Source: astroberry64-server-full
Section: science
Priority: extra
Maintainer: Astroberry64 Team <astroberry64@speckle.red>
Original-Maintainer: Radek Kaczorek <rkaczorek@gmail.com>
Build-Depends: debhelper (>= 9), cdbs, cmake (>= 2.4.7), cmake
Standards-Version: 3.9.1
Homepage: https://github.com/astroberry64

Package: astroberry64-server-full
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, astroberry64-server-artwork, astroberry64-server-sysmod, astroberry64-server-hotspot, astroberry64-server-wui, virtualgps, gwenview, indi-bin, kstars-bleeding
# Temporarily disabled until packages are available:
#   libindi-dev (optional - only needed for building drivers)
#   phd2 (not yet built)
#   phdlogview (not yet built)
#   indiwebmanagerapp (not yet sourced)
#   gsc (Guide Star Catalog - not yet built)
# Temporarily disabled - driver packages not yet forked:
#   indi-astroberry64-diy
#   indi-astroberry64-piface
#   indi-weather-mqtt
# Temporarily disabled - optional packages:
#   astrometry.net (will add later)
#   ser-player (will add later)
#   gpredict (will add later)
# Permanently disabled - not available for arm64:
#   oacapture (armhf only)
#   firecapture (availability unclear)
Description: Astroberry64 Server is a ready to use astronomy
 desktop system for Raspberry Pi.
 This is a meta-package that installs all packages and
 configuration needed to run the system.
 Includes INDI server and KStars planetarium software.
 Additional astronomy software (PHD2, driver packages, etc.)
 will be added in future releases.
